@{
    ViewData["Title"]= "Asignacion turno";
}
@model Turnero.Models.Turno

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card text-center">
                <form asp-controller="Home" asp-action="Asignar" method="post" >
                    <div class="card-body">
                        <h4>HOSPITAL LA MISERICORDIA</h4>
                        <input type="hidden" asp-for="TipoDocumento" id="tipo" name="TipoDocumento" class="card-text " value='@ViewData["tipo"]' />
                        <input type="hidden" asp-for="Identificacion" id="documento" name="Identificacion" class="card-text" value='@ViewData["documento"]' /><br>
                        <input type="hidden" asp-for="Ficho" id="turno" name="ficho" class="card-text" value='@ViewData["turno"]' />
                        <p class="card-text">@ViewData["tipo"] - @ViewData["documento"]</p>
                        <h1 class="card-title">@ViewData["turno"]</h1>
                        <p class="card-text">@ViewData["fecha"]</p>
                        <p class="card-text">@ViewData["hora"]</p>
                        <button type="submit" class="btn btn-lg btn-primary">Tomar turno</button>
                    </form>

                </div>
                @* <div class="card-footer">
                    <a asp-controller="Home"  asp-action="Ingreso" class="btn btn-lg btn-primary">Tomar turno</a>
                </div> *@
            </div>
        </div>

    </div>
</div>